<!DOCTYPE html>
<!--


   _|_|_|    _|_|    _|_|_|    _|_|_|    _|_|_|      _|_|_|    _|_|_|    _|_|_|
 _|        _|    _|  _|    _|  _|    _|  _|    _|  _|    _|  _|_|      _|_|
 _|        _|    _|  _|    _|  _|    _|  _|    _|  _|    _|      _|_|      _|_|
   _|_|_|    _|_|    _|    _|  _|    _|  _|_|_|      _|_|_|  _|_|_|    _|_|_|
                                         _|
                                         _|
-->
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="content-style-type" content="text/css; charset=utf-8" />
<meta name="keywords" content="connpass,コンパス,イベント,IT勉強会,検索,開催,募集,参加,ソーシャル連携,アクセス解析,手数料無料" />
<meta name="description" content="「#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】」の参加者・申込者の一覧です。" />
<title>#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】 - 参加者・申込者一覧 - connpass</title>


<link type="text/css" href="https://connpass.com/static/css/connpass.css?20181129161924
" rel="stylesheet" media="all" />




<!-- Google+ Page -->
<link href="https://plus.google.com/106041817090493633309/" rel="publisher" />


<meta property="og:type" content="website" />
<meta property="og:site_name" content="connpass" />
<meta property="fb:app_id" content="259235460759625" />

<meta property="og:url" content="https://yyphp.connpass.com/event/110978/participation/" />

<meta property="og:image" content="https://connpass.com/static/img/468_468.png" />

<meta itemprop="image" content="https://connpass.com/static/img/72_72.png" />

<meta property="og:title" content="connpass - エンジニアをつなぐIT勉強会支援プラットフォーム" />
<meta property="og:description" content="connpassはイベントやIT勉強会の開催、さらに参加者の集客に便利です。コミュニティやグループの運営やイベントの検索、事前決済もできます。" />
<meta itemprop="name" content="connpass - エンジニアをつなぐIT勉強会支援プラットフォーム" />
<meta itemprop="description" content="connpassはイベントやIT勉強会の開催、さらに参加者の集客に便利です。コミュニティやグループの運営やイベントの検索、事前決済もできます。" />








<link rel="shortcut icon" href="https://connpass.com/static/img/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="apple-touch-icon-precomposed" href="https://connpass.com/static/img/apple_touch_icon.png" />

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

<script type="text/javascript">
  if (typeof console == "undefined") {window.console={log: function () {}};console.warn = console.debug = console.log;}
</script>

<script type="text/javascript">
  function cst(cat, evt, targetUrl) {
    if (window._gaq) {
      _gaq.push(['_trackSocial', cat, evt, targetUrl]);
    } else {
      console.log("trackSocial(" + cat + ", " + evt + ", " + targetUrl + ")");
    }
  };
  function cet(cat, evt, label, value, non_interaction) {
    if (!label) {
      label = '222038';
    }
    if (window._gaq) {
      _gaq.push(['_trackEvent', cat, evt, label, value, non_interaction]);
    } else {
      console.log("trackEvent(" + cat + ", " + evt + ", " + label + ", " + value + ", " + non_interaction + ")");
    }
  };
  function tol(link, cat, evt, label, value, non_interaction) {
    cet(cat, evt, label, value, non_interaction);
    if (link) {
      var func;
      if (link.href) {
        func = function() {
          document.location.href = link.href;
        };
      } else {
        if (link.submit) {
          func = function() {
            link.submit();
          };
        } else {
          if (link.form) {
            func = function() {
              link.form.submit();
            };
          }
        }
      }
      if (func) {
        setTimeout(func, 100);
      }
    }
  };
</script>



<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26036000-1']);
  _gaq.push(['_setDomainName', 'connpass.com']);
  _gaq.push(['_setCustomVar', 1, 'Authenticated', 'true', 1]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>



    <script type="text/javascript">
        
        var event_tech_tags = ["\u30aa\u30fc\u30d7\u30f3\u30bd\u30fc\u30b9", "Docker", "\u30c9\u30e1\u30a4\u30f3\u99c6\u52d5\u8a2d\u8a08", "\u30b3\u30fc\u30c9\u30ec\u30d3\u30e5\u30fc", "PHP", "Rails", "AWS", "Go", "laravel", "WordPress", "Qiita", "api", "CakePHP", "kubernetes", "\u30c6\u30b9\u30c8", "js", "PHP7", "WebAPI", "DDD", "\u8a2d\u8a08", "Phalcon", "YouTube", "CMS", "\u30af\u30e9\u30a6\u30c9", "\u81ea\u52d5\u5316", "Vuex", "sqs", "\u8ee2\u8077", "RESTful", "KUSANAGI", "vue", "hack", "\u30b3\u30fc\u30c9\u30ea\u30fc\u30c7\u30a3\u30f3\u30b0", "\u30d7\u30ed\u30b0\u30e9\u30de", "\u52c9\u5f37\u6cd5", "YYPHP"];
    </script>


<script language="JavaScript" type="text/javascript" charset="UTF-8" src="//cdn.bigmining.com/private/media/js/connpass_bigmining.js"></script>


<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>

<script type="text/javascript">
var path_value = location.pathname.substr(0,40);
var parameter_value = location.search.substr(0, 40);
var ref_value = "null";
if (document.referrer){
var ref_array=new Array();
ref_array=document.referrer.split("/"); 
ref_value = ref_array[2];}
</script>

<script>
  googletag.cmd.push(function() {


    googletag.pubads().setTargeting('URLs', path_value).setTargeting('Ref', ref_value).setTargeting('Para', parameter_value);
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();
  });
</script>

</head>

<body class="event_participation">

<div id="wrapper" class="lang_ja">

  <div id="header">
    <div class="container clearfix">
      <h1><a href="https://connpass.com/" title="connpass - エンジニアをつなぐIT勉強会支援プラットフォーム"><img src="https://connpass.com/static/img/common/sitelogo_266x132_bp.png" alt="connpass - エンジニアをつなぐIT勉強会支援プラットフォーム" height="66"></a></h1>

      
        <form action="https://connpass.com/search/" method="GET" id="header_event_search_form">
          <div class="header_search">
            <input type="text" class="form_input_text" name="q" id="id_q" value="" placeholder="イベント検索">
            <button type="submit" class="btn btn_default btn_size_small"><img src="https://connpass.com/static/img/common/icon_search.png" alt="イベント検索"></button>
          </div>
        </form>
      

      
        <div class="header_nav_contents">
          <ul>
          
            <li><a href="https://connpass.com/">ダッシュボード</a></li>
            <li><a href="https://connpass.com/dashboard/#category_link_list">カテゴリ一覧</a></li>
          
            <li><a href="https://connpass.com/explore/">新着イベント</a></li>
          </ul>
        </div>
        
          <div class="header_nav_owner">
            <a href="https://connpass.com/editmanage/" class="btn btn_action event_manage">イベント管理</a>
            <span class="EventCreate btn btn_high_priority">イベント作成</span>
          </div>
          
          <div class="header_nav_personal">
            <ul class="dropdown_menu">
              <li id="personalMenu" class="image_link">
                
                  <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/b2/f3/b2f39bae024fc85990b8723a67cd3ea5.png" width="23" height="23" alt="yamato_ja1461">
                
                <ul class="dropdown_sub">
                  <li class="username image_link"><a href="https://connpass.com/user/yamatox/" title="yamato_ja1461">
                    yamato_ja1461
                  </a></li>
                  <li><a href="https://connpass.com/settings/">利用設定</a></li>
                  <li><a href="https://connpass.com/logout/">ログアウト</a></li>
                </ul>
              </li>
            </ul>
          </div>
          
        
      


    </div>
  </div>
  








<div id="contents" class="container main_side_column clearfix">
  <div id="flash_message_area" style="display: none;">
    
  </div>

  
  <div class="clearfix">
    
      
      <div id="main">
        
<div class="title_with_thumb mb_20">
  <span class="thumbnail">
    <a href="https://connpass.com/event/110978/" title="#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】">
    
     <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/e8/e5/e8e52d3194ea88e998fbf694e5464761.png" width="48" height="48" alt="#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】">
    
    </a>
  </span>
  <a href="https://yyphp.connpass.com/event/110978/" class="event_title"><span class="icon_red_four_right"></span>#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】</a>
  <h2 class="page_title">イベント参加者・申込者一覧</h2>
</div>




<div class="concerned_area mb_30">
  <h3 class="title_bg mb_10">イベント関係者</h3>

  <table class="common_table participants_table padding_10">
    <thead>
      <tr>
        <th colspan="2">管理者<span class="participants_count">3人</span></th>
      </tr>
    </thead>
    <tbody>
      
        


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/suin/open/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/4b/98/4b98aaecba514b44a3a04a28233785b7.png" alt="suin|｡･ω･)。o (&lt;b&gt;PHPer集まれ&lt;/b&gt;)" width="36" height="36">
          
        </a>
      
    

    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/suin/open/">suin|｡･ω･)。o (&lt;b&gt;PHPer集まれ&lt;/b&gt;)</a>
          
        
      </p>
      <p class="user_profile">Qiita2万コントリビューション／『実践ドメイン駆動設計』書籍邦訳レビュア／分報Slack考...</p>
    </div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=suin" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterフォロー中"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterフォロー中" width="20" height="20" /><img src="https://connpass.com/static/img/common/icon_check.png" alt="Twitterフォロー中" width="14" height="12" class="follow" /></a>
          
        
      

      
        
        
        <span title="facebook未連携"><img src="https://connpass.com/static/img/common/icon_gray_facebook.png" alt="facebook未連携" width="20" height="20" /></span>
        
      

      
        
        
          
          
          <a href="https://github.com/suin" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

      
        


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/reoring/open/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/ef/da/efda5d70fcdc60fc431a456844d109fe.png" alt="reoring|｡･ω･)。o (PHPer集まれ)" width="36" height="36">
          
        </a>
      
    

    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/reoring/open/">reoring|｡･ω･)。o (PHPer集まれ)</a>
          
        
      </p>
      <p class="user_profile">reoring (れおりん) PHP歴15年 | 日本出身 | 株式会社クラフトマンソフトウェ...</p>
    </div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=reoring" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterフォロー中"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterフォロー中" width="20" height="20" /><img src="https://connpass.com/static/img/common/icon_check.png" alt="Twitterフォロー中" width="14" height="12" class="follow" /></a>
          
        
      

      
        
        
          
          
          <span><img src="https://connpass.com/static/img/common/icon_facebook.png" alt="facebook" width="20" height="20" /></span>
          
        
      

      
        
        
          
          
          <a href="https://github.com/reoring" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

      
        


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/nouphet/open/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/0d/3f/0d3f2b293a14075207d3c7cce20ba44d.png" alt="nouphet|PHPプログラミングはじめました" width="36" height="36">
          
        </a>
      
    

    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/nouphet/open/">nouphet|PHPプログラミングはじめました</a>
          
        
      </p>
      <p class="user_profile">ラオス生まれ日本育ち。インフラエンジニア/営業。  Linux/OTRS/Zabbix/Job...</p>
    </div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=nouphet" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterフォロー中"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterフォロー中" width="20" height="20" /><img src="https://connpass.com/static/img/common/icon_check.png" alt="Twitterフォロー中" width="14" height="12" class="follow" /></a>
          
        
      

      
        
        
          
          
          <span><img src="https://connpass.com/static/img/common/icon_facebook.png" alt="facebook" width="20" height="20" /></span>
          
        
      

      
        
        
          
          
          <a href="https://github.com/nouphet" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

      
    </tbody>



  </table>
</div>

<div class="applicant_area">
<h3 class="title_bg mb_20">イベント申込者</h3>






<a name="participants"><h3 class="title_3">参加者一覧</h3></a>
  
    
    <div class="participation_table_area mb_20">
      <table class="common_table participants_table padding_10">
        <thead>
          <tr>
            <th colspan="2">
              <span class="label_ptype_name">現地参加</span>
              参加者
              <span class="participants_count">6人</span></th>
          </tr>
        </thead>
        <tbody>
          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/atsushi586/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/5f/d7/5fd78ab76b1371105e917d5752575991.png" alt="atsushi586" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">現地参加</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/atsushi586/">atsushi586</a>
          
        
      </p>
      <p class="user_profile"></p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】 に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=aey8157111223" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterを見る"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterを見る" width="20" height="20" /></a>
          
        
      

      
        
        
        <span title="facebook未連携"><img src="https://connpass.com/static/img/common/icon_gray_facebook.png" alt="facebook未連携" width="20" height="20" /></span>
        
      

      
        
        
        <span title="GitHub未連携" class="last"><img src="https://connpass.com/static/img/common/icon_gray_github.png" alt="GitHub未連携" width="20" height="20" /></span>
        
      

      
      
      

    

  
  </td>
</tr>

          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/hirasaki/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/03/99/0399e8bed61fcb0c1527b5c329b9379c.png" alt="m.hirasaki" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">現地参加</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/hirasaki/">m.hirasaki</a>
          
        
      </p>
      <p class="user_profile">北海道産で、現在関東でwebエンジニアやってます。 IT系の専門学校を卒業してからのIT業界で...</p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=m_hirasaki1985" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterフォロー中"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterフォロー中" width="20" height="20" /><img src="https://connpass.com/static/img/common/icon_check.png" alt="Twitterフォロー中" width="14" height="12" class="follow" /></a>
          
        
      

      
        
        
          
          
          <span><img src="https://connpass.com/static/img/common/icon_facebook.png" alt="facebook" width="20" height="20" /></span>
          
        
      

      
        
        
          
          
          <a href="https://github.com/hirasaki1985" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/hirokatsu_hayashi/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/82/0f/820f0eb3608d720a34ec3947a51ae5ea.png" alt="hirodragon" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">現地参加</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/hirokatsu_hayashi/">hirodragon</a>
          
        
      </p>
      <p class="user_profile">株式会社ミライトデザインCEO / PHPer / OOP / DDD / アーキテクチャ / 設計</p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=hirodragon112" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterを見る"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterを見る" width="20" height="20" /></a>
          
        
      

      
        
        
          
          
          <span><img src="https://connpass.com/static/img/common/icon_facebook.png" alt="facebook" width="20" height="20" /></span>
          
        
      

      
        
        
        <span title="GitHub未連携" class="last"><img src="https://connpass.com/static/img/common/icon_gray_github.png" alt="GitHub未連携" width="20" height="20" /></span>
        
      

      
      
      

    

  
  </td>
</tr>

          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/azuma777/">
          
            <img src="https://connpass.com/static/img/common/user_no_image.gif" alt="azuma777" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">現地参加</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/azuma777/">azuma777</a>
          
        
      </p>
      <p class="user_profile"></p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
        <span title="Twitter未連携"><img src="https://connpass.com/static/img/common/icon_gray_twitter.png" alt="Twitter未連携" width="20" height="20" /></span>
        
      

      
        
        
        <span title="facebook未連携"><img src="https://connpass.com/static/img/common/icon_gray_facebook.png" alt="facebook未連携" width="20" height="20" /></span>
        
      

      
        
        
        <span title="GitHub未連携" class="last"><img src="https://connpass.com/static/img/common/icon_gray_github.png" alt="GitHub未連携" width="20" height="20" /></span>
        
      

      
      
      

    

  
  </td>
</tr>

          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/yodaka/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/37/87/3787d9e32a4b2a57437742020facefee.png" alt="yodaka" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">現地参加</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/yodaka/">yodaka</a>
          
        
      </p>
      <p class="user_profile"></p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】 に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=engineerYodaka" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterを見る"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterを見る" width="20" height="20" /></a>
          
        
      

      
        
        
        <span title="facebook未連携"><img src="https://connpass.com/static/img/common/icon_gray_facebook.png" alt="facebook未連携" width="20" height="20" /></span>
        
      

      
        
        
        <span title="GitHub未連携" class="last"><img src="https://connpass.com/static/img/common/icon_gray_github.png" alt="GitHub未連携" width="20" height="20" /></span>
        
      

      
      
      

    

  
  </td>
</tr>

          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/nabetabena/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/2e/ae/2eae50438ceac006b608792c96150a9d.png" alt="nabetabena" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">現地参加</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/nabetabena/">nabetabena</a>
          
        
      </p>
      <p class="user_profile"></p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】 に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
        <span title="Twitter未連携"><img src="https://connpass.com/static/img/common/icon_gray_twitter.png" alt="Twitter未連携" width="20" height="20" /></span>
        
      

      
        
        
        <span title="facebook未連携"><img src="https://connpass.com/static/img/common/icon_gray_facebook.png" alt="facebook未連携" width="20" height="20" /></span>
        
      

      
        
        
          
          
          <a href="https://github.com/nabetabena" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

          
          
        </tbody>
      </table>
    </div>
    
  
    
  
    
    <div class="participation_table_area mb_20">
      <table class="common_table participants_table padding_10">
        <thead>
          <tr>
            <th colspan="2">
              <span class="label_ptype_name">YYPHP主催者・スタッフ枠</span>
              参加者
              <span class="participants_count">3人</span></th>
          </tr>
        </thead>
        <tbody>
          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/nouphet/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/0d/3f/0d3f2b293a14075207d3c7cce20ba44d.png" alt="nouphet|PHPプログラミングはじめました" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">YYPHP主催者・スタッフ枠</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/nouphet/">nouphet|PHPプログラミングはじめました</a>
          
        
      </p>
      <p class="user_profile">ラオス生まれ日本育ち。インフラエンジニア/営業。  Linux/OTRS/Zabbix/Job...</p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】 に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=nouphet" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterフォロー中"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterフォロー中" width="20" height="20" /><img src="https://connpass.com/static/img/common/icon_check.png" alt="Twitterフォロー中" width="14" height="12" class="follow" /></a>
          
        
      

      
        
        
          
          
          <span><img src="https://connpass.com/static/img/common/icon_facebook.png" alt="facebook" width="20" height="20" /></span>
          
        
      

      
        
        
          
          
          <a href="https://github.com/nouphet" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/suin/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/4b/98/4b98aaecba514b44a3a04a28233785b7.png" alt="suin|｡･ω･)。o (&lt;b&gt;PHPer集まれ&lt;/b&gt;)" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">YYPHP主催者・スタッフ枠</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/suin/">suin|｡･ω･)。o (&lt;b&gt;PHPer集まれ&lt;/b&gt;)</a>
          
        
      </p>
      <p class="user_profile">Qiita2万コントリビューション／『実践ドメイン駆動設計』書籍邦訳レビュア／分報Slack考...</p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】 に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=suin" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterフォロー中"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterフォロー中" width="20" height="20" /><img src="https://connpass.com/static/img/common/icon_check.png" alt="Twitterフォロー中" width="14" height="12" class="follow" /></a>
          
        
      

      
        
        
        <span title="facebook未連携"><img src="https://connpass.com/static/img/common/icon_gray_facebook.png" alt="facebook未連携" width="20" height="20" /></span>
        
      

      
        
        
          
          
          <a href="https://github.com/suin" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/reoring/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/ef/da/efda5d70fcdc60fc431a456844d109fe.png" alt="reoring|｡･ω･)。o (PHPer集まれ)" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">YYPHP主催者・スタッフ枠</span>
      
      <span class="label_status_tag">
        
          参加者
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/reoring/">reoring|｡･ω･)。o (PHPer集まれ)</a>
          
        
      </p>
      <p class="user_profile">reoring (れおりん) PHP歴15年 | 日本出身 | 株式会社クラフトマンソフトウェ...</p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=reoring" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterフォロー中"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterフォロー中" width="20" height="20" /><img src="https://connpass.com/static/img/common/icon_check.png" alt="Twitterフォロー中" width="14" height="12" class="follow" /></a>
          
        
      

      
        
        
          
          
          <span><img src="https://connpass.com/static/img/common/icon_facebook.png" alt="facebook" width="20" height="20" /></span>
          
        
      

      
        
        
          
          
          <a href="https://github.com/reoring" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

          
          
        </tbody>
      </table>
    </div>
    
  



<a name="waitlist"><h3 class="title_3">補欠者一覧</h3></a>
  
    
    <div class="waitlist_table_area mb_20">
      <table class="common_table participants_table padding_10">
        <thead>
          <tr>
            <th colspan="2">
              <span class="label_ptype_name">現地参加</span>
              補欠者
              <span class="participants_count">2人</span></th>
          </tr>
        </thead>
        <tbody>
          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/akane_kuriyama_9/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/07/d1/07d1b7840be208f22b769e1b7e9c2d40.png" alt="akane" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">現地参加</span>
      
      <span class="label_status_tag">
        
          補欠者
          <span class="user_counter">1</span>
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/akane_kuriyama_9/">akane</a>
          
        
      </p>
      <p class="user_profile">Go修行中です</p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】 に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=akane_256" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterを見る"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterを見る" width="20" height="20" /></a>
          
        
      

      
        
        
        <span title="facebook未連携"><img src="https://connpass.com/static/img/common/icon_gray_facebook.png" alt="facebook未連携" width="20" height="20" /></span>
        
      

      
        
        
        <span title="GitHub未連携" class="last"><img src="https://connpass.com/static/img/common/icon_gray_github.png" alt="GitHub未連携" width="20" height="20" /></span>
        
      

      
      
      

    

  
  </td>
</tr>

          
            


<tr>
  <td class="user">
    <div class="user_info">
    
      
        <a class="image_link" href="https://connpass.com/user/masahiro_suzuki_37266/">
          
            <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/c6/dc/c6dcb0a173812176b0b3186cb9a36534.png" alt="masahiro_suzuki_37266" width="36" height="36">
          
        </a>
      
    

    
      
      <span class="label_ptype_name">現地参加</span>
      
      <span class="label_status_tag">
        
          補欠者
          <span class="user_counter">2</span>
        
      </span>
    

      <p class="display_name">
        
          
            <a href="https://connpass.com/user/masahiro_suzuki_37266/">masahiro_suzuki_37266</a>
          
        
      </p>
      <p class="user_profile">お酒売ってます。</p>
    </div>
    
      <div class="comment">#YYPHP #65【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】 に参加を申し込みました！</div>
    
  </td>
  <td class="social text_center">
  
  
    
    
      
        
        
          
          
          <a href="https://twitter.com/intent/user?screen_name=mcha_ru" target="_blank" onClick="cet('EventParticipationList', 'twitter_profile_click');" title="Twitterを見る"><img src="https://connpass.com/static/img/common/icon_twitter.png" alt="Twitterを見る" width="20" height="20" /></a>
          
        
      

      
        
        
          
          
          <span><img src="https://connpass.com/static/img/common/icon_facebook.png" alt="facebook" width="20" height="20" /></span>
          
        
      

      
        
        
          
          
          <a href="https://github.com/macharu" target="_blank" onClick="cet('EventParticipationList', 'github_profile_click');" title="GitHubを見る" class="last"><img src="https://connpass.com/static/img/common/icon_github.png" alt="GitHubを見る" width="20" height="20" /></a>
          
        
      

      
      
      

    

  
  </td>
</tr>

          
          
        </tbody>
      </table>
    </div>
    
  
    
  
    
  





</div>

      </div>
    
    
    <div id="side_area">
      


<div class="side_box side_border_area series_area">
  
  <h2 class="title">グループ情報</h2>
  <p class="series_title"><a href="https://yyphp.connpass.com/">YYPHP</a></p>
  <p class="series_sub_title"></p>

  <div class="clearfix">
    <a href="https://yyphp.connpass.com/" class="image_link"><img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/76/cc/76cc984d2359fc0f8bbd77032f5f0a90.png" width="72" height="48" alt="このグループのイメージ画像" /></a>
    <table>
      <tbody>
        <tr>
          <th>メンバー数</th>
          <td><a href="https://yyphp.connpass.com/participation/">444人</a></td>
        </tr>
        <tr>
          <th>イベント数</th>
          <td><a href="https://yyphp.connpass.com/event/">66回</a></td>
        </tr>
      </tbody>
    </table>
  </div>
    
      <h4>開催前のイベント</h4>
      <ul class="common_ul">
      
        <li><a href="https://yyphp.connpass.com/event/110979/">#YYPHP #66【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】</a></li>
      
      </ul>
    

    
      <h4>過去のイベント</h4>
      <ul class="common_ul">
      
        <li><a href="https://yyphp.connpass.com/event/110977/">#YYPHP #64【PHPの情報交換・ワイワイ話そう・仲間作り・ゆるめ・にぎやかめ】</a></li>
      
      </ul>
    

  
</div>


<div class="side_box side_border_area is_help">
  <h2 class="side_title">参加者と交流するには？</h2>

  <h3 class="side_subtitle">
      
      <a href="https://connpass.com/settings/">設定ページ</a>からTwitterやFacebookと連携してみましょう！
      
  </h3>
  <p class="mb_10">お友達がイベントを開催したり、イベントを申し込んだりすると、メールで通知がきたり、トップページに表示されたりします。</p>
  <hr class="mb_10">
  <p class="text_right"><span class="icon_to_guide"><a href="http://help.connpass.com/basic/settings" target="_blank">詳しくはこちら</a></span></p>
</div>





    </div>
    
  </div>
  
</div>




  <div id="footer">
    <div class="footer_link_area clearfix">
      <div class="layout_column_4 footer_site">
        <div class="mb_5"><a href="https://connpass.com/" title="サイトのトップページへ"><img src="https://connpass.com/static/img/common/sitelogo_295x100.png" alt="connpass" class="connpass">エンジニアをつなぐ<br>IT勉強会支援プラットフォーム</a></div>
        <div class="mb_5">
        
        <a href="https://itunes.apple.com/jp/app/connpass/id723317753?mt=8" target="_blank" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;" onClick="cet('Marketing', 'iphone_app_banner', 'footer_banner', undefined, true);"></a>
        
        </div>
        <a href="http://twitter.com/connpass_jp" target="_blank" class="mr_5"><img src="https://connpass.com/static/img/common/icon_twitter_official.png" alt="Twitter公式アカウント"></a>
        <a href="http://www.facebook.com/connpass" target="_blank"><img src="https://connpass.com/static/img/common/icon_facebook_official.png" alt="Facebookページ"></a>

      </div>
      <div class="layout_column_4 footer_help">
        <ul class="cmn_list">
          <li><a href="http://help.connpass.com/" target="_blank" title="connpassのヘルプ">ご利用ガイド</a></li>
          <li><a href="http://help.connpass.com/faq/" target="_blank">よくある質問</a></li>
          <li><a href="https://connpass.com/inquiry/">connpassへのお問い合わせ</a></li>
          <li><a href="https://connpass.com/term/">利用規約</a></li>
          <li><a href="https://www.beproud.jp/company/" target="_blank">運営会社</a></li>
          <li><a href="https://connpass.com/about/api/">API</a></li>
          <li><a href="https://connpass.com/law/">特定商取引法に基づく表示</a></li>
          <li><a href="https://connpass.com/privacy/">プライバシーポリシー</a></li>
        </ul>
      </div>
      <div class="layout_column_4 footer_sns">
      <ul class="cmn_list">
        <li class="li_icon_hint"><a href="https://connpass.com/about/" title="connpassの機能をタイムライン風に紹介">機能紹介</a></li>
        <li class="li_icon_hint"><a href="https://connpass.com/about/comparison/" title="connpassと他イベントサイトとの機能比較">他サービスとの比較</a></li>
        <li class="li_icon"><a href="https://connpass.com/explore/">新着イベント</a></li>
        <li class="li_icon_feed"><a href="https://connpass.com/explore/ja.atom" target="_blank">新着イベントfeed</a></li>

      </ul>
      </div>
      <div class="layout_column_4 footer_feedback">
      

<div class="feedback_area">
  <div id="FeedbackForm">
    <p class="em">connpassへのご意見をお聞かせください</p>
    <div class="FollowBox">
      <textarea class="feedback FeedbackText" cols="28" rows="5" name="feedback"></textarea>
      <button class="SendFeedback btn btn_default btn_size_small" disabled="disabled">意見を送る</button>
      <p>返答が必要な方は<a href="https://connpass.com/inquiry/">「connpassへのお問い合わせ」</a>をご利用ください</p>
    </div>
    <div class="PostedBox text_center" style="display:none;">
      <p class="em">ご意見ありがとうございました！</p>
      <p>いただいたご意見はスタッフが確認いたします。個々のご意見に返信できないことを予めご了承ください。</p>
      <button class="link NewFeedback btn btn_default btn_size_small">さらに意見を送る</button>
    </div>
  </div>
</div>


      </div>
    </div>
    <div class="footer_link_area clearfix">
      <div class="footer_beproud"><a href="https://www.beproud.jp/company/" target="_blank"><img src="https://connpass.com/static/img/common/logo_beproud.png" alt="BePROUD" title="BePROUD" />connpass は株式会社ビープラウドが開発・運営しています</a></div>
      <address>&copy; 2018 BeProud, Inc. All Rights Reserved.</address>
    </div>
  </div>


</div>





<script id="EventCreateTemplate" type="text/html">
  <div class="popup">
    <div class="popup_wrapper">
      <div class="popup_header">
        <h2 class="popup_title">イベントを作成する</h2>
        <span class="close_btn_area">
          <span class="btn btn_default btn_size_small corner_none modal-close" title="閉じる"><span class="icon_black_close"></span></span>
        </span>
      </div>
      <div class="popup_contents text_center">
        <p class="font_16 mb_10"><strong>イベント名を入力してください</strong></p>
        <input name="title" type="text" class="form_input_text form_width_450 font_18">

        <div class="mt_10 mb_30">
          <button type="submit" class="EventCreateSubmit btn btn_action btn_size_large" onClick="cet('Create', 'create_event');">イベントを作成</button>
        </div>
        <div class="right">
          <a href="https://connpass.com/group/new/"><span class="icon_red_four_right"></span>グループを作成</a>
        </div>
      </div>
    </div>
  </div>
</script>

<script id="MessageTemplate" type="text/html">
  <p class="message <%= level %>"><%- message %></p>
</script>


<div id="fb-root"></div>



<div id="CurrentUserObj" style="display:none;" data-username="yamatox" data-display_name="yamato_ja1461" data-avatar="https://connpass-tokyo.s3.amazonaws.com/thumbs/44/b9/44b90f9dd51a2711eeb9083991068f2c.png" data-is_deactivated="false" data-id="222038" data-profile_url="http://connpass.com/user/yamatox/"></div>
<div id="CSRFToken" style="display:none;" data-csrftoken="ezXnq3HdCQyMEf57riOcWtlu4MK5aIvD"></div>

<script type="text/javascript" src="https://connpass.com/static/js/require.js?20181129161924
"></script>
<script type="text/javascript" src="https://connpass.com/static/js/connpass.min.js?20181129161924
"></script>
<script type="text/javascript">
require.config({
  
  baseUrl: 'https://connpass.com/static/js/',
  locale: 'ja',

  config: {
    'csrf': {
      CSRF_COOKIE_NAME: 'connpass-csrftoken'
    },
    'sanca': {
      
      LOG_LEVEL: "WARNING",
      HTTP_HOST: 'connpass.com',
      STATIC_URL: 'https://connpass.com/static/',
      MEDIA_URL: 'https://connpass.com/media/',
      API_BASE_URL: 'https://yyphp.connpass.com/api'
    }
  }
});
</script>


<script type="text/javascript">
  require([
    'jquery', 'jquerytools/tooltip.dynamic',
    'jquerytools/tooltip.slide', 'design'
  ], function($, Views) {
    $(function() {
      $('.Help').tooltip({
        effect: 'slide',
        position: 'bottom center',
        offset: [20, 0],
      }).dynamic({
        bottom: {
          direction: 'down',
          bounce: true
        }
      });
    });
  });

  require(['jquery', 'cs!sanca/views/personal_menu'], function($, Views) {
    var personal_menu = new Views.PersonalMenu({
      el: '#header',
      dropdown_el: '#personalMenu'
    });
  });

  require(['jquery', 'cs!sanca/views/feedback'], function($, Views) {
    var feedbackform = new Views.FeedbackView({
      el: '#FeedbackForm'
    });
  });

  require([
    'jquery', 'underscore', 'cs!sanca/views/event_create', 
  ], function($, _, Views) {
    $(function() {
      var event_create = new Views.EventCreateWindow({
        template_el: '#EventCreateTemplate'
      });
      $('.EventCreate').click(function() {
        event_create.openModal();
      });

      
      
      if (_.indexOf(window.location.search.substring(1).split("&"), 'create=1') !== -1) {
        event_create.openModal();
      }
    });
  });

  

</script>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      version: 'v2.8',
      status: true,
      appId: '259235460759625',
      xfbml: true  // Like btn
    });
    FB.Event.subscribe('edge.create', function(targetUrl) {
      typeof cst === "function" && cst('facebook', 'like', targetUrl);
    });
    FB.Event.subscribe('edge.remove', function(targetUrl) {
      typeof cst === "function" && cst('facebook', 'unlike', targetUrl);
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/ja_JP/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
